@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary: #5956e8;
  --black: #181818;
  --white: #fffefe;
}

.container {
  max-width: 1170px;
}

body {
  font-family: "Inter", sans-serif;
}
nav {
  padding: 34px 0;
}
nav ul li a {
  color: var(--black);
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-right: 50px;
}

nav ul li a:hover {
  color: var(--primary);
}

nav .navBtn {
  background: var(--primary);
  padding: 13px 24px;
  border-radius: 10px;
}

/* ===============banner start =================== */
#banner {
  background: var(--primary);
  padding-top: 165px;
  padding-bottom: 200px;
}

#banner h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 80px;
  color: var(--white);
}

#banner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white);
  margin-top: 25px;
}

.bannerBtn {
  background: var(--white);
  padding: 13px 24px;
  border-radius: 10px;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}
.bannerBtn:hover {
  background: var(--primary);
  border-color: var(--white);
}
/* ===============banner end =================== */
